/* -------------------------------------------- */
/* custom button */
/* -------------------------------------------- */
.custom-btn { margin: 30px 10px 10px 10px; }

/* -------------------------------------------- */
/* gif properties */
/* -------------------------------------------- */
.thumbnail > img {
	height: 250px;
	width: 100%;
}

/* -------------------------------------------- */
/* box shadow */
/* -------------------------------------------- */
.thumbnail,
.jumbotron {
	box-shadow: 0px 0px 10px #888888;
}